body{
    background-color: cadetblue;
    font-family: monospace;
    font-size: 2rem;
    color: wheat;

    /* border: solid 1px red; */
    margin: 1vw 5vw 1vw 5vw;
}

a {
    text-decoration: none;
    color: black;
}

.helloworld{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;

    font-size: 3rem;
    color: white;
    /* border: solid 2px red; */
}

.header{
    /* background-color: wheat; */
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    border: solid 2px white;
    padding: 0px 10px 0px;
}

.logo{
    /* border: solid 2px chartreuse; */
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: black;
    width: 10vw;
}

.nav-link{
    /* border: solid 2px chartreuse; */
    display: flex;
    justify-content: space-around;

    text-underline-offset: none;
    width: 30vw;
    color: black;
}
.nav-link li{
    list-style-type: none; 
}

